:root {
    --fg:       #1d2021;
    --bg-alt:   #282828;

    /* --fg:       #ebdbb1; */

    --black:    #263640;
    --red:      #cc241d;
    --green:    #98971a;
    --yellow:   #d79921;
    --blue:     #458588;
    --magenta:  #b16282;
    --cyan:     #689d6a;
    --orange:   #d65d0e;

    --black-dim: #3c3836;

    color: var(--fg);
    /* background-color: var(--bg); */

    /* --banner-height: 386px; */
    /* --banner-width: 762px */
}

html {
    scrollbar-color: var(--green) var(--bg-alt);
    scrollbar-width: auto;
}

body {
    max-width: 735px;
    margin: auto;
    font-family: serif;
    color: var(--fg);
    /* background-color: var(--bg-alt); */
    padding: 1em;
}

h1 { color: var(--red); }

h2 { color: var(--green); }

h3 { color: var(--yellow); }

p { line-height: 1.61em; }

.sep {
    height: 1px;
    background-color: var(--black);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: auto, 2em;
    padding-top: 2em;
    /* padding-bottom: 1em; */
    /* gap: 3em; */
}

.title {
    gap: 2em;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.title_image {
    image-rendering: pixelated;
}

.title_text {
    font-size: 20pt;
    font-weight: 600;
    color: var(--fg);
}

.middle {
    padding-bottom: 4em;
    padding-top: 1em;
}

.footer {
    padding: 2rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    border-top: 1px solid var(--black);
}

.contact_info {
    display: flex;
    gap: 1em;
}

.contact_info > * {
    color: var(--blue);
    font-weight: bold;
    text-decoration: none;
}
.contact_info > *:hover {
    color: var(--cyan);
}
